@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-inter: var(--font-inter);
  --font-oswald: var(--font-oswald);
  
  --color-brand: #ccff00;
  --color-brand-hover: #b3e600;
  --color-dark-surface: #18181b;
  --color-text-muted: #9ca3af;
}
body {
  background-color: #111827;
}


